* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
/*================HEADER===================*/
#header {
}
.navigation {
}
.nav-container {
  background-color: rgb(75, 51, 87);
  color: white;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.nav-link {
  padding: 1rem;
  list-style-type: none;
  /* flex: auto;
  text-align: center; */
}
.nav-link:hover {
  background-color: #d1cece;
  color: black;
  cursor: pointer;
}
.jumbotron {
  height: 45rem;
  background-image: url("/yogagal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 5rem;
}
.jumbo-text {
  font-style: italic;
  padding-bottom: 1rem;
  font-size: 2.4rem;
}
.jumbo-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  position: relative;
}
.jumbo-title::before {
  content: "";
  height: 0.4rem;
  width: 5rem;
  background-color: rgb(81, 24, 107);
  position: absolute;
  top: 45%;
  left: -6rem;

  /* display: block; */
}

.jumbo-title::after {
  content: "";
  height: 0.4rem;
  width: 5rem;
  position: absolute;
  top: 40%;
  right: -6rem;
  background-color: rgb(81, 24, 107);
  display: block;
}
.services {
  background-color: #e3e3e3;
}
.intro {
  font-size: 3rem;
  text-align: center;
  color: rgb(81, 24, 107);
  /* position: relative; */

  margin-bottom: 4rem;
}
.intro::before {
  content: "";
  width: 5rem;
  height: 0.4rem;
  background-color: rgb(24, 4, 34);
  /* display: inline-block;
  position: absolute;
  top: 50%;
  left: -5rem;
}
.intro::after {
  content: "";
  width: 5rem;
  height: 0.4rem;
  background-color: rgb(24, 4, 34);
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5rem;*/
}
.services-container {
  width: 60%;
  margin: 0 auto 3rem auto;

  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.services-img {
  max-width: 20rem;
  height: 20rem;
  margin-right: 4rem;
  border-radius: 1rem;
}
.services-texts {
  color: rgb(81, 24, 107);
}
.services-title {
  font-size: 2.8rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.services-instructor {
  font-size: 2.2rem;
  color: #14735e;
  padding-bottom: 0.5rem;
}
.services-location {
  font-size: 1.9rem;
  padding-bottom: 1.5rem;
}
.services-description {
  font-size: 1.8rem;
  font-weight: lighter;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
  .services-container {
    flex-direction: column;
  }
}
