* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
/*================HEADER===================*/
#header {
}
.navigation {
}
.nav-container {
  background-color: rgb(75, 51, 87);
  color: white;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.nav-link {
  padding: 1rem;
  list-style-type: none;
  /* flex: auto;
  text-align: center; */
}
.nav-link:hover {
  background-color: #d1cece;
  color: black;
  cursor: pointer;
}
.jumbotron {
  height: 45rem;
  background-image: url("/yogagal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.jumbo-text {
  font-style: italic;
  padding-bottom: 1rem;
  font-size: 2.4rem;
}
.jumbo-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  position: relative;
}
.jumbo-title::before {
  content: "";
  height: 0.4rem;
  width: 5rem;
  background-color: rgb(81, 24, 107);
  position: absolute;
  top: 45%;
  left: -6rem;

  /* display: block; */
}

.jumbo-title::after {
  content: "";
  height: 0.4rem;
  width: 5rem;
  position: absolute;
  top: 40%;
  right: -6rem;
  background-color: rgb(81, 24, 107);
  display: block;
}
.services {
}
.intro {
}
.services-container {
}
.services-img {
}
.services-texts {
}
.services-title {
}
.services-instructor {
}
.services-location {
}
.services-description {
}
